# this is the outer gitignore, not the dluxtoliman one

# just ignore the files
/wk21/spectra/
/wk21/spectra2/
/wk22/harps_3000/
/wk22/harps_sample/
/xk4/files
/xk5/phases
/xk5/bases
/xk5/20_source_16x_subsample.npy

/xk12/figures
/xk11/figs
/xk11/fig_making/figs
/xk11/amigostuff/tutorials
/xk10/images
/xk9/figs
/xk8/figs
/xk7/figs
/xk6/figs
/xk4/figs

/xk4/gr_assignment.ipynb
/xk9/bayesiana2.ipynb
/xk7/gr_assignment2.ipynb
/xk6/bayesian.ipynb
/xk6/RZ.csv